.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: rgba(250, 235, 215, 0.261);
    min-width: 80vw;
    align-items: center;
    margin-left: $gap-large;

    @include for-mobile-layout {
        margin-left: 0;
    }

    .top-row {
        display: flex;
        gap: $gap-large;
        width: 100%;
        padding: $pad;

        @include for-mobile-layout {
            flex-direction: column;
            gap: $gap;
        }

        .img {
            // width: 400px;
            // height: 500px;
            align-self: center;
            aspect-ratio: 1/1;
            max-width: 600px;
            max-height: 600px;
            width: 100%;
            background-color: $mustard;
            border-radius: 50%;
            display: flex;
        }

        .title {
            display: flex;
            flex-direction: column;
            text-align: center;
            // text-wrap: nowrap;
            // width: 100%;
            height: 100%;
            justify-content: space-around;
            // width: min-content;
            // width: fit-content !important;
            padding: $pad;
            flex-wrap: wrap;

            div {
                width: 100%;
            }


            h1 {
                width: max-content;
                width: 100%;
                text-align: center;
                letter-spacing: $small ;
            }

            h2 {
                width: 100%;
                letter-spacing: $smaller ;
                color: $lavender;
                word-wrap: break-word;
            }

            p {
                width: 100%;
                text-wrap: wrap;
            }

            @include for-mobile-layout {
                padding: 0;
            }
        }

        .education {
            font-size: $small;
            margin: 10px 0;
            color: $lavender;
            font-family: Chillax-light;
            font-weight: 700;
        }
    }

    ul {
        width: fit-content;
        display: flex;
        gap: $gap;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: $margin;

        li {
            border: 2px $lavender solid;
            padding: $btn-pad;
            border-radius: 20px;
        }
    }

}