@use 'sass:list';

@mixin for-mobile-layout {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-tablet-layout {
    @media (max-width: $tablet-breakpoint) {
        @content;
    }
}


@mixin for-wide-layout {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin for-wider-layout {
    @media (max-width: $wide-dekstop-breakpoint) {
        @content;
    }
}

@mixin layoutGTC($max) {
    grid-template-columns:
        minmax($layoutPadding, 1fr) minmax(auto, $max) minmax($layoutPadding, 1fr);
}