// COLORS
$black: #292833;
$black: #202023;
$purple: #4f2892;
$lavender: rgb(140, 135, 211);
$white: #e6e4f1ff;
$mustard: #ffe347ff;

// LAYOUT
$layoutPadding: 140px;
$pad: 10px;
$btn-pad: 4px 8px;
$gap: 10px;
$gap-large: 50px;
$margin: 20px;

// BREAKPOINTS
$mobile-breakpoint: 460px;
$tablet-breakpoint: 800px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1200px;

// VARS

// TYPOGRAPHY
$smaller: 14px;
$small: 16px;
$p: 30px;
$h1: 150px;
$h2: 64px;
$h3: 30px;
$h4: 22px;
$btn-text: 22px;
$in-radius: 12px;
$br: 12px;