.home {
    width: auto;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.wrapper {
    width: 100vh;
    display: flex;
    height: 100%;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.section {
    width: 100vw;
    height: 100vh;
}